<header>
  <div class="header-menu">
    <div nz-col [nzSpan]="4">burgermenu</div>
    <div nz-col [nzSpan]="4">ISZH icon and desc</div>
    <div nz-col [nzSpan]="4">search</div>
    <div nz-col [nzSpan]="4">language</div>
    <div nz-col [nzSpan]="4">settings</div>
    <div nz-col [nzSpan]="4">user info and exit</div>
  </div>
</header>
<div class="row">
  <div>breadcrumb</div>
</div>
<ng-container *ngIf="showCards" class="container">
  <div>
    <div nz-row>
      <div nz-col [nzSpan]="8">
        <nz-card class="custom-card" [ngStyle]="cardStyle">
          <p>Учёт животных</p>
          <a style="color: #77c48d" [routerLink]="['/animal-accounting']"
            >Перейти</a
          >
        </nz-card>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-card class="custom-card" [ngStyle]="cardStyle">
          <p>Отчёты</p>
          <a style="color: #77c48d" [routerLink]="['/reports']">Перейти</a>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-card class="custom-card" [ngStyle]="cardStyle">
          <p>Ветиринарная лаборатория</p>
          <a style="color: #77c48d" [routerLink]="['/veterinary-lab']"
            >Перейти</a
          >
        </nz-card>
      </div>
    </div>
    <div nz-row>
      <div nz-col [nzSpan]="8">
        <nz-card class="custom-card" [ngStyle]="cardStyle">
          <p>Справочники</p>
          <a style="color: #77c48d" [routerLink]="['/directories']">Перейти</a>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="16">
        <nz-card class="custom-card" [ngStyle]="cardStyle">
          <p>Администрирование</p>
          <a style="color: #77c48d" [routerLink]="['administration']"
            >Перейти</a
          >
        </nz-card>
      </div>
    </div>
  </div>
</ng-container>

<main>
  <router-outlet></router-outlet>
</main>

